<!-- 
   Two-way binding - Through this we can update the value of property of the class and it
  will update the value of this prop in any place were is used.
 -->
<input type="text" [(ngModel)]="title">
<!-- String interpolation: It allows to render the value of a property in the template -->
{{ title }}

 <!-- Input used for the pipe demo -->
<input type="number" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'ogied'">
  this is ogied
</div>
<div *ngIf="title === 'sage'">
  this is a sage
</div>
<div *ngIf="title === 'reyna'">
  this is a reyna
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'ogied'">this is ogied</p>
  <p *ngSwitchCase="'sage'">this is sage</p>
  <p *ngSwitchCase="'reyna'">this is reyna</p>
  <p *ngSwitchDefault> Incorrect title </p>
</div>

// list of items
<button (click)="addNewItem()"> Add item </button>
<ul>
  <li *ngIf="items.length === 0; else listHasItems">
    The list is empty, please add an item
  </li>
  <ng-template #listHasItems>
    <li *ngFor="let name of items; index as i">
      {{ name }} in position: {{i}}
      <button (click)="deleteItem(i)">delete</button>
    </li>
  </ng-template>
</ul>

// list of products
<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    (productClicked)="clickedProduct($event)"
    [product]="product">
  </app-product>
</div>